// All purpose media query mixin:
//
//   .foo {
//      color:#ccc;
//
//      @include mq(768px){
//         color:#abc123;
//      }
//    }
@mixin mq($mq) {
    @if $mq == retina {
        @media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min--moz-device-pixel-ratio: 1.5), screen and (min-resolution: 1.5dppx), screen and (min-resolution: 144dpi) {
            @content;
        }
    } @else if $mq == print {
        @media print {
            @content;
        }
    } @else {
        @media all and (min-width: $mq) {
            @content;
        }
    }
}

//
// Font smoothing:
//

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-font-smoothing: subpixel-antialiased;
        -o-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

// Clearfix
@mixin cf() {
    &:before,
    &:after {
        content:"";
        display:table;
    }

    &:after{
        clear:both;
    }
}
@mixin un-cf() {
    &:before,
    &:after {
        display:none;
    }
}



@mixin linear-gradient($fromColor, $toColor) {
    background-color: $toColor; /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
    background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
    background-image:         linear-gradient(top, $fromColor, $toColor);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

// Usage example
// $myColor: red; // not required unless using variable.
// .item {
//     @include linear-gradient(#BADA55, $myColor);
// }
//

//
// Hide content off-screen without resorting to `display:none;`, also provide
// breakpoint specific hidden elements.
//
@mixin accessibility {
    border:0!important;
    clip:rect(0 0 0 0)!important;
    height:1px!important;
    margin:-1px!important;
    overflow:hidden!important;
    padding:0!important;
    position: absolute!important;
    width:1px!important;
}

@mixin reverse-accessibility {
    clip:none!important;
    height:auto!important;
    margin:0!important;
    position: static!important;
    width:auto!important;
}

// Typographical mixins
// --------------------
// Reference URL for many of the techniques used here:
// https://www.inkling.com/blog/2014/05/precision-baselines-sass-ebook-design/


// Return an em value based on the $base-font-size or contextual size. Credit to @ijy https://gist.github.com/ijy/1441967
@function em($target, $context: $base-font-size) {
    @if $target == 0 { @return 0 }
    @return $target / $context + 0em;
}

// Return a rem value based on the $base-font-size.
@function rem($target) {
    @if $target == 0 { @return 0 }
    @return $target / $base-font-size + 0rem;
}

// Strips off any unit from a number
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

// Generate a baseline guide equal to the rhythm unit
@mixin baseline-guide {
    position: relative;
    
    &:after {
        background-image: 
            linear-gradient($guide-color-1 1px, transparent 1px, transparent $rhythm-unit*1px, $guide-color-2 $rhythm-unit*1px, transparent $rhythm-unit*1px+1px);
        background-size: 100% em($base-line-height);
        z-index: -1;
        width: 100%;
        height: auto;
        content: "";
        display: block;
        position: absolute;
        top:0;
        bottom: 0;
    }
}

// Calculate a rem font size. If $line-height is true, set a line height equal to a multiple of the rhythm unit. Thanks @csswizardry & @redclov3r: https://github.com/csswizardry/inuit.css/blob/7dbc892f8d298795e19aeb64d1369ae3271561d1/generic/_mixins.scss
@mixin font-size($font-size, $line-height: false){
    font-size: $font-size*1px; 
    font-size:($font-size / $base-font-size)*1rem;
    @if $line-height == true {
        line-height:ceil($font-size / $rhythm-unit) * ($rhythm-unit / $font-size);
    }
}

// Start at a minimum size and scale smoothly to a maximum size between a set of breakpoints.  Falls back to just regular px/rems at breakpoints if browsers don't like the calc() statement.
@mixin scaling-font($minFont: $min-font, $maxFont: $max-font, $minWidth: $hand-start-pixels, $maxWidth: $desk-start-pixels) {
    // Internal variables
    $minWidthEms: em($minWidth); // Cool, we can call a function from within a mixin!
    $maxWidthEms: em($maxWidth);
    $minWidthRems: rem($minWidth);
    $maxWidthRems: rem($maxWidth);
    $minFontPx: $minFont*1px;
    $minFontRems: rem($minFont);
    $maxFontPx: $maxFont*1px;
    $maxFontRems: rem($maxFont);

    font-size: $minFontPx;
    font-size: $minFontRems;
    
    @media (min-width: $minWidthEms) and (max-width: $maxWidthEms) {
        & {
            font-size: calc(#{$minFontRems} + #{strip-unit($maxFontRems - $minFontRems)} * ((100vw - #{$minWidthRems}) / #{strip-unit($maxWidthRems - $minWidthRems)}));
        }
    }
    @media (min-width: $maxWidthEms) {
        & { 
            font-size: $maxFontPx;
            font-size: $maxFontRems;
        }
    }
}

// Gotham (default sans)
@mixin Sans-Regular() {
    font: {
        family: "Open Sans", Arial, sans-serif;
        weight: 400;
        style: normal;
    }
}

@mixin Sans-Regular-Italic() {
    font: {
        family: "Open Sans", Arial, sans-serif;
        weight: 400;
        style: italic;
    }
}

@mixin Sans-Medium() {
    font: {
        family: "Open Sans", Arial, sans-serif;
        weight: 500;
        style: normal;
    }
}

@mixin Sans-Medium-Italic() {
    font: {
        family: "Open Sans", Arial, sans-serif;
        weight: 500;
        style: italic;
    }
}

@mixin Sans-Semibold() {
    font: {
        family: "Open Sans", Arial, sans-serif;
        weight: 600;
        style: normal;
    }
}

@mixin Sans-Semibold-Italic() {
    font: {
        family: "Open Sans", Arial, sans-serif;
        weight: 600;
        style: italic;
    }
}

@mixin Sans-Bold() {
    font: {
        family: "Open Sans", Arial, sans-serif;
        weight: 700;
        style: normal;
    }
}

@mixin Sans-Bold-Italic() {
    font: {
        family: "Open Sans", Arial, sans-serif;
        weight: 700;
        style: italic;
    }
}

// Module padding (to eliminate unwanted extra space inside modules caused by children with bottom margins)
@mixin module-padding($padding) {
    padding: 0 em($padding);
  
    &:before,
    &:after {
        content: "";
        display: block;
        height: 1px;
    }
  
    &:before {
        margin-bottom: em($padding - 1);
    }
    
    &:after {
        margin-top: em($padding - 1);
    }
}

/// Adds a downward triangle as a background image to an element. The image is an SVG, so we can change the color. IE doesn't support encoded SVGs as background images, so a PNG fallback is also included (2 PNGs, a black triangle and a white triangle, depending on the lightness of the input color).
///
/// @param $color - Color to use for the triangle.
@mixin background-triangle($color: palette(black)) {
    $rgb: 'rgb%28#{red($color)}, #{green($color)}, #{blue($color)}%29';

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: #{$rgb}"></polygon></svg>');

    @media screen and (min-width:0\0) {
        @if lightness($color) < 50% {
            // White triangle
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==');
        }
        @else {
            // Black triangle
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMBJREFUeNrEllsOhCAMRVszC9IlzU7KCmVHTJsoMWYMUtpyv9BgbuXQB5ZSdgBYYY4ycgBivk8KYFsQMfMiTTBP4o3nUzCKzOabLJbLy2/g31evGkAginR4/ZegKH5qX3bJCscA3t0x3kgO5tQFyhhFf50xRqFLbyMUNJQzgyjGS/wgCpvKqkRBpuWrE4V9d+1E4dPUXqIg107SQOE/2DRQxMwTDygIInVDET9T3lCoj/6j/VCmGjZOl2lKpZ8AAwDQP7zIimDGFQAAAABJRU5ErkJggg==');
        }
    }

    // IE Edge isn't displaying SVG data URI backgrounds as of 3/7/2016
    // Workaround:
    @supports (-ms-accelerator:true) {
        & {
            @if lightness($color) < 50% {
                // White triangle
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==');
            }
            @else {
                // Black triangle
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMBJREFUeNrEllsOhCAMRVszC9IlzU7KCmVHTJsoMWYMUtpyv9BgbuXQB5ZSdgBYYY4ycgBivk8KYFsQMfMiTTBP4o3nUzCKzOabLJbLy2/g31evGkAginR4/ZegKH5qX3bJCscA3t0x3kgO5tQFyhhFf50xRqFLbyMUNJQzgyjGS/wgCpvKqkRBpuWrE4V9d+1E4dPUXqIg107SQOE/2DRQxMwTDygIInVDET9T3lCoj/6j/VCmGjZOl2lKpZ8AAwDQP7zIimDGFQAAAABJRU5ErkJggg==');
            }
        }
    }
}