/* UI styles */

// A minor vertical-only reset (revisit if problematic)
* {
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
}

*,
*:before,
*:after {
    box-sizing:border-box;
}

html {
    -ms-overflow-style: scrollbar;
    background:$body-bg;
    color:$text-color;
    font-size: 100%;
    
    // Typography additions:
    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    font-feature-settings: "kern", "liga", "clig", "calt";
}

/* IE10/11 Metro responsive
 Required for Windows 8 Metro split-screen snapping with IE10 and IE11
 Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/ */
@-ms-viewport {
    width: device-width;
}
/* Scrollbar fixes for IE10 */
.no-touchcapable {
    -ms-overflow-style: scrollbar;
}

body {
    @include Sans-Regular();
    @include font-size($base-font-size, $line-height: true);
    line-height: $base-line-height/$base-font-size;
    //@include baseline-guide; // for testing; comment out otherwise
}

html, body {
    height:100%;
}

/* Remove text shadow in selection */
::-moz-selection {
    background: $select-color;
    text-shadow: none;
}

::selection {
    background: $select-color;
    text-shadow: none;
}

.visuallyhidden {
    @include accessibility;
}

/* Helper classes */
.touch-only {
    display:none;    

    .touchcapable & {
        display:block;
    }
}
.no-touch-only {
    display:block;
    
    .touchcapable & {
        display:none;
    }
}
.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

/* Style basics */

// Heading typography
@each $heading, $font-size in $headings {
    #{$heading}, .#{$heading} {
        @include Sans-Medium;
        @include font-size($font-size, $line-height: true);
        // Add margin bottom equal to 1 rhythm unit
        margin-bottom: em($base-line-height, $font-size);
    }
}

// Vertical rhythm of major elements
p, ul, ol, dl, figure, figcaption, fieldset, blockquote, pre, table, .callout, .promo, .hero, .pull-quote, .responsive-table {
    margin-bottom: em($base-line-height);
}

// Smaller vertical rhythm of nested elements and selected others
.branding, li, dd, dt, label {
    margin-bottom: em($rhythm-unit);
}

// Vertical rhythm of elements where the font size might be different
// We'll need to pass in a context for the font-size
// ex: margin-bottom: em($base-line-height, 32);

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $line-color;
    margin: em($base-line-height) 0;
    padding: 0;
}

b, strong, label {
    @include Sans-Bold;
}

img {
    height: auto !important;
    max-width: 100%;
    width: auto;
    -ms-interpolation-mode: bicubic;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

iframe {
    border: none !important;
}

a {
    transition: background-color $transition-default, color $transition-default, box-shadow $transition-default;
}

a,
a:hover {
    color: $link-color;
    text-decoration:none;
}

.no-touchcapable {
    a:hover {
        color: $link-hover-color;
    }
}

// Focus states: Default is on, suppressed if user is using mouse or touch
*:not(body):focus {
    outline: 0;
    box-shadow: 0 0 10px $main-color;

    .no-cssboxshadow & {
        outline: 2px solid $main-color;
    } 
}

[data-whatinput="mouse"] :focus,
[data-whatinput="touch"] :focus {
    box-shadow: none;
    outline: 0;
}

a.tel {
    color:inherit !important;
    text-decoration:none;
    white-space:nowrap;
    
    .no-touchcapable & {
        cursor: text;
    }
}

.list-unstyled {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

// Responsive table styles
.table {
    /*!
    // IE needs inline-block to position scrolling shadows otherwise use:
    // display: block;
    // max-width: min-content;
    */
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    font-size:85%;

    // optional - looks better for small cell values
    // white-space: nowrap;

    border-collapse: collapse;
    border-spacing: 0;

    th, td {
        padding:1em;
        border:1px solid $line-color;
    }

    th {
        text-transform:uppercase;
        background:palette(blue, x-light);
    }
}

.table,
.table--flip tbody {
    // optional - enable iOS momentum scrolling
    -webkit-overflow-scrolling: touch;

    // scrolling shadows
    background: radial-gradient(ellipse at left, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center, radial-gradient(ellipse at right, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
    background-size: 10px 100%, 10px 100%;
    background-attachment: scroll, scroll;
    background-repeat: no-repeat;
}

// change these gradients from white to your background color if it differs
// gradient on the first cells to hide the left shadow
.table td:first-child,
.table--flip tbody tr:first-child {
    background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-repeat: no-repeat;
    background-size: 20px 100%;
}

// gradient on the last cells to hide the right shadow
.table td:last-child,
.table--flip tbody tr:last-child {
    background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 20px 100%;
}

.table--flip {
    display: flex;
    overflow: hidden;
    background: none;

    thead {
        display: flex;
        flex-shrink: 0;
        min-width: min-content;
    }
    tbody {
        display: flex;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
    }
    tr {
        display: flex;
        flex-direction: column;
        min-width: min-content;
        flex-shrink: 0;
    }
    td, th {
        display: block;
    }
    td {
        background-image: none !important;
        // border-collapse is no longer active
        border-left: 0;
    }
    // border-collapse is no longer active
    th:not(:last-child),
    td:not(:last-child) {
        border-bottom: 0;
    }
}
.no-flexbox {
    .table--flip {
        display:table;

        th, td {
            border:1px solid $line-color !important;
        }
    }
    .responsive-table {
        position:relative;
        overflow:hidden;

        > div {
            overflow-x:auto;
        }

        .table {
            margin-bottom:0;
        }
    }
}


blockquote {
    padding: em($pullquote-fontsize, $pullquote-fontsize);
    margin-left:0;
    margin-right:0;
    
    p {
        display: inline;
        font-size:em($pullquote-fontsize);
        
        &:before,
        &:after {
            opacity: $pullquote-opacity;
            font-size: em(($pullquote-fontsize * 2));
            color: $pullquote-color;
            line-height: 0.1em;
            vertical-align: -0.4em;
        }
        &:before {
            content: "\201C";
            margin-right: 0.25em;
        }
        &:after {
            content: "\201D";
            margin-left: 0.25em;
        }
    }

    
    cite {
        text-align:right;
        display:block;
        font-size:em($blockquote-cite-fontsize);
        margin-top:em(($blockquote-cite-fontsize * .5));
    }
}

/* Forms */

form {
    max-width:504px;
    margin-left:auto;
    margin-right:auto;
}

span.required {
    color:$required-color;
    font-style: normal;
}

label {
    @include font-size(16);
    @include Sans-Medium;
    text-transform:uppercase;
    display:block;
    margin-bottom:5px;
    text-align:left;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password],
textarea,
select {
    margin-bottom:20px;
    display:block;
    width:100%;
    font: inherit;
    background:$form-field-bg;
    color:$form-field-fg;
    @include font-size(16);
    border:1px solid $form-field-border;
    //box-shadow:inset 0 0 5px rgba(0,0,0,0.05);
    border-radius:0;

    transition:outline $transition-default, background-color $transition-default, border-color $transition-default;
    
    .no-touchcapable &:hover,
    &:focus {
        background-color:darken($form-field-bg, 3);
    }
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password],
textarea {
    padding:0 .5em;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password] {
    line-height:3.3;
    height:3.1em;
}

input[type=file] {
    font: inherit;
    text-align:left;
    display:block;
    margin-bottom:11px;
}

.field-short {
    max-width:11em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;

    @include background-triangle($form-field-fg);
    background-size: 9px 6px;
    background-position: right center;
    background-origin: content-box;
    background-repeat: no-repeat;

    line-height: 1;
    height:3.1em;
    padding:0.25em 0.5em;

    // Hide the dropdown arrow shown in newer IE versions
    &::-ms-expand {
      display: none;
    }
}

textarea {
    padding:.5em;
    min-height:8em;
    resize: vertical;
    
    @include mq($lap-start) {
        min-height:218px;
    }
}

.form-thanks,
.form-errors {
    display:none;
}

// Honeypot field for contact form
#specialRequest {
    display:none;
}

/* Error handling */
.error {
    text-align:left;
}
input.error,
textarea.error {
    border:1px solid $error-color;
}
ul.error {
    @include font-size(16);
    color:$error-color;
    font-style:italic;
    position:relative;
    margin-left:0;
    padding:0 !important;
    margin-top:-12px;
    list-style:none;

    li {
        margin:0;
        padding:0;
    }
}

/* Buttons */

.form-buttons {
    text-align:center;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn {
    @include font-smoothing(on);
    @include Sans-Semibold;
    display:inline-block;
    overflow: visible;
    border:$button-border;
    border-radius:$border-radius;
    padding:.5em 1.5em;
    background:$button-bg;
    color:$button-fg;
    transition: color $transition-default, background-color $transition-default;
    
    .no-touchcapable &:hover {
        background:$button-hover-bg;
        color:$button-hover-fg;
        border:$button-hover-border;
    }
}

.browserupgrade {
    margin: 0.2em 0;
    background: palette(gray, x-light);
    color: $text-color;
    padding: 0.2em 0;
}


.section--detail {

    .page-links {
        @include font-size(14);
        line-height:1;
        list-style:none;

        background:palette(gray, lighter);
        padding:1em;
        margin:3em 0 0;

        display:flex;
        justify-content:space-between;

        > p {
            margin-bottom:0;
        }

        .link-back {
            &:before {
                content:"← ";
            }
        }
    }

    .season-container + .page-links {
        margin-top:0;
    }
}


/* Nav styles */
.nav {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

.nav-simple {
    
    li {
        display:inline-block;
        border-left:1px solid $line-color;
        padding-left:10px;
        margin:0 0 0 7px;
        line-height:1;
        
        &:first-child {
            border-left:none;
            padding-left:0;
            margin-left:0;
        }
    }
}


/* Structure */
.inner {
    padding: 0 $page-gutter-mobile;
    position:relative;
    
    @include mq($desk-start) {
        margin-left:auto;
        margin-right:auto;
        max-width:em($desk-wide-start-pixels);
        padding: 0 $page-gutter;
        
        .lt-ie9 & {
            max-width:em($desk-wide-start-pixels + ($page-gutter-pixels * 2));
        }
    }
}

/* Main content styles */
.main-content {
    a {
        @include Sans-Medium;
        text-decoration:none;
    }   
}


/* Responsive video styles */
.video-wrapper {
    position:relative;
    
    &:after {
        content: "";
        display:block;
        height:0;
        overflow:hidden;
        width:100%;
        padding-top:56.25%; /* 16:9 aspect ratio */
    }
    
    iframe {
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }
}

// Index page
.page-index {
    font-family:"Open Sans", sans-serif;
    padding:2em;

    h1 {
        font-family:"Carter One", sans-serif;
    }
}

// On Edge magazine cover
.on-edge-container {
    height:100%;
}

.on-edge {
    font-family: 'Source Sans Pro', sans-serif;
}
.on-edge-container {
    h1,
    h2 span,
    p {
        @include font-smoothing(on);
        background: black;
        color: white;
    }

    h1,
    h2,
    p,
    .on-edge-author,
    .on-edge-publisher {
        position: relative;
        z-index: 1;
        margin: 0;
    }

    .on-edge-publisher {
        position:absolute;
    }

    h1, h2 {
        text-transform: lowercase;
        line-height: 1;
    }

    h1 {
        font-family: 'Expletus Sans', sans-serif;
        font-weight: bold;
        @include font-size(50);
        
        text-align: right;
        padding: 0.3em 0.25em 0.3em 0.25em;
        margin: 15% 35% 0 0;
        white-space: nowrap;

        @include mq($lap-start) {
            @include font-size(80);
        }
        @include mq($desk-start) {
            @include font-size(120);
        }
        @include mq($desk-wide-start) {
            @include font-size(160);
        }
    }

    h2 {
        @include font-size(16);
        font-weight: 600;
        letter-spacing: 0.2em;
        text-align: right;
        z-index:1;

        margin-right:2em;

        span {
            line-height: 1;
            padding: 0.1em 0.7em 0.25em 0.2em;
            white-space: nowrap;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;

            &:nth-child(2) {
                writing-mode: vertical-lr;
                z-index: 1;
                padding: 1.8em 0.25em 0.04em 0.25em; // Padding needs to be reversed due to writing mode
            }
        }

        @include mq($lap-start) {
            margin-right:3em;

            span {
                @include font-size(20);
            }
        }
        @include mq($desk-start) {
            margin-right:4em;

            span {
                @include font-size(28);
            }
        }
        @include mq($desk-wide-start) {
            margin-right:5em;

            span {
                @include font-size(34);
            }
        }
    }
}

.on-edge-images {
    position:absolute;
    top:0;
    left:2em;
    right:2em;

    img {
        float:left;
        width:50%;
    }

    @include mq($lap-start) {
        left:3em;
        right:3em;
    }
    @include mq($desk-start) {
        left:4em;
        right:4em;
    }
    @include mq($desk-wide-start) {
        left:5em;
        right:5em;
    }
}

.on-edge-author {
    text-align: right;

    position:absolute;
    width:50%;
    top:35%;
    left:2em;
    right:2em;

    p {
        @include font-size(14);
        font-weight: 600;
        position: absolute;
        bottom: 0;
        left: 0;
        min-width: 33%;
        padding: 0.2em 0.35em;
    }

    @include mq($lap-start) {
        left:3em;
        right:3em;

        p {
            @include font-size(18);
            min-width: 66%;
        }
    }
    @include mq($desk-start) {
        left:4em;
        right:4em;

        p {
            @include font-size(24);
        }
    }
    @include mq($desk-wide-start) {
        left:5em;
        right:5em;

        p {
            @include font-size(30);
        }
    }
}

.on-edge-publisher {
    @include font-size(9);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.27em;

    top:0;
    right:0;

    p {
        min-height: 15em;
        text-align: center;
        padding: 0 0.6em 0 1.75em;
        writing-mode: vertical-lr;
        letter-spacing: 0.7em;
        position: absolute;
        right: 0;
        top: 0;
    }

    @include mq($lap-start) {
        top:50%;
        transform: translateY(-63%); 

        p {
           padding: 0 0.6em 0 1.75em;
           //top: 50%;
        }
    }
    @include mq($desk-start) {
        @include font-size(12);
    }
    @include mq($desk-wide-start) {
        @include font-size(16);
    }
}

// Grid styles for browsers that support it
@supports (display:grid) {
    
    // Default layout: portrait
    .on-edge-container {
        // Overrides
        height:auto;

        // Grid
        display: grid;
        grid-template-columns: [left-edge] 2em [content-start] 2fr [center-left] 1fr [center] 1fr [center-right] 2fr [content-end] 2em [right-edge];
        grid-template-rows: 1fr 1fr 1fr;

        @include mq($lap-start) {
            grid-template-columns: [left-edge] minmax(3em, 9.7%) [content-start] 2fr [center-left] 1fr [center] 1fr [center-right] 2fr [content-end] minmax(3em, 9.7%) [right-edge];
        }

        // Mid-range between portrait and landscape
        @media screen and (min-aspect-ratio: 9/11) {
            grid-template-rows: 1fr 1fr;
        }

        // Landscape
        @media screen and (min-aspect-ratio: 11/9) {
            grid-template-rows: 1fr 1fr;
        }
    }

    .on-edge {
        h1 {
            // Overrides
            margin: 0;

            // Scaling font size
            @include scaling-font(50, 160, $hand-start-pixels, $desk-wide-start-pixels);

            // Grid
            grid-column: left-edge / center-right;
            grid-row-start: 1;
            align-self: end;
        }
        h2 {
            // Overrides
            margin-right:0;

            // Scaling font size
            @include scaling-font(16, 36, $lap-start-pixels, $desk-wide-start-pixels);

            span {
                // Scaling font size
                @include scaling-font(16, 36, $lap-start-pixels, $desk-wide-start-pixels);
            }

            // Grid
            grid-column: center / span 2;
            grid-row-start: 2;
        }

        .on-edge-publisher {
            position:relative;
        }

        @include mq($lap-start) {
            h2 {
                span {
                    &:nth-child(2) {
                        bottom: 0;
                        padding: 1.75em 0.25em 0.04em; // Padding needs to be reversed due to writing mode

                        text-align:left;
                    }
                }
            }
        }

        // Landscape
        @media screen and (min-aspect-ratio: 11/9) {

            h1 {
                transform: translateY(3.8vw);
            }

            h2 {
                // Grid
                grid-row: 1 / 3;
                grid-column: center-left / content-end;

                span {
                    left:0;

                    &:nth-child(2) {
                        left:auto;
                        bottom:auto;
                        padding: 2.04em 0.25em 0.04em;
                    }
                }

            }
        }
    }
    .on-edge-author {
        // Overrides
        position:static;
        top:auto;
        left:auto;
        right:auto;
        width:auto;

        p {
            // Scaling font size
            @include scaling-font(14, 30, $hand-start-pixels, $desk-wide-start-pixels);

            bottom: 0.9em;
            min-width: 66%;
        }

        // Grid
        grid-column: content-start / center;
        grid-row: 3;

        @media screen and (min-aspect-ratio: 9/11) {
            grid-row: 2;
        }
    }
    .on-edge-publisher {
        // Overrides
        top:auto;
        right:auto;
        transform:none;

        // Scaling font size
        @include scaling-font(9, 18, $lap-start-pixels, $desk-wide-start-pixels);

        grid-column-end: right-edge;
        grid-row: 1;

        @include mq($lap-start) {
            grid-row: 2;

            p {
               transform: translateY(-63%); 
               top: 50%;
            }
        }
    }

    .on-edge-images {
        // Overrides
        position:static;
        left:auto !important;
        right:auto !important;
        top:auto;

        img {
            float:none;
            width:100%;
        }

        // Grid
        grid-column: content-start / content-end;
        grid-row: 1 / 4;

        // Nested grid
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        // Mid-range between portrait and landscape
        @media screen and (min-aspect-ratio: 9/11) {
            grid-template-rows: 1fr 1fr;

            img:nth-child(5), img:nth-child(6) {
                display:none;
            }
        }
        // Landscape
        @media screen and (min-aspect-ratio: 11/9) {
            grid-row:1 / 3;

            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            img:nth-child(5), img:nth-child(6) {
                display:block;
            }
        }
    }
}

// Living Bridges layout
.lb {
    font-family:"Open Sans", sans-serif;
    padding:4%;

    .link-to-original {
        text-align:center;
        margin-top:2em;
    }
}
.lb-container {
    border:1px solid #ccc;
    padding:2%;

    h1, h2 {
        font-weight:600;
        text-transform:uppercase;
    }

    h1 {
        position:relative;
        color:yellowgreen;
        letter-spacing:0.2em;
        line-height:0.9;

        .lb-title-main {
            display:block;
            position:relative;
            z-index:1;

            span:nth-child(odd) {
                font-family:"Song Myung", serif;
                font-size:110%;
                font-weight:400;
            }
        }

        .lb-title-ghost {
            display:none;
        }

        @supports (text-stroke: 1px #333) or (-webkit-text-stroke: 1px #333) {
            .lb-title-main {
                -webkit-text-stroke:1px #333;
                text-stroke:1px #333;
            }
            .lb-title-ghost {
                overflow:hidden;
                display:block;
                position:absolute;
                left:0;
                top:0;
                color:transparent;
                -webkit-text-stroke:1px coral;
                text-stroke:1px coral;
                mix-blend-mode:lighten;
                opacity:0.6;
                z-index:2;

                span:nth-child(even) {
                    font-family:"Song Myung", serif;
                    font-size:110%;
                    font-weight:400;
                }
            }
            .lb-ghost-top {
                bottom:0.5em !important;
                -webkit-text-stroke:1px #333;
                text-stroke:1px #333;
                mix-blend-mode:normal;
            }
        }

        
    }
}
.lb-arc {
    background:no-repeat 50% 50% url("/ui/img/lb-picsum-739-siyan-ren.jpg");
    background-size:cover;

    overflow:hidden;
    height:0;
    padding-top:40%;
    margin-bottom:4%;
}

@supports (display:grid) {
    .lb-container {
        overflow:hidden;
        padding:0;
        display:grid;

        grid-template-columns:[left] 1fr [right];
        grid-template-rows:[top-start] minmax(100px, 40vw) [top-center] minmax(100px, 40vw) [top-end];
    }

    .lb {
        h1 {
            font-size:12vw;
            text-align:center;
            margin:0;
            position:relative;
            transform:translateY(1.25em);
            z-index:1;

            grid-column:left / right;
            grid-row:top-start;
            align-self:end;

            .lb-title-ghost {
                right:0;
                bottom:0;
            }
        }
    }

    .lb-sponsor {
        @include font-smoothing(on);
        font-weight:normal;
        font-size:4vw; // will scale with the main title
        letter-spacing:0.02em;
        color:white;
        text-align:center;
        text-shadow:
            0 0 2em black, 
            0 0 4em black, 
            0 0 6em black, 
            0 0 8em black, 
            0 0 10em black;

        
        grid-column:left / right;
        grid-row:top-start;
        align-self:end;
        margin-bottom:3.5em;
        position:relative;
        z-index:1;

        p {
            margin:0;
        }

        b {
            font-weight:600;
        }
    }

    .lb-content {
        // Scaling font size
        @include scaling-font(16, 20, $lap-start-pixels, $desk-wide-start-pixels);
        @include font-smoothing(on);
        background:black;
        color:white;

        grid-column:left / right;
        grid-row:top-end;
    }

    .lb-date,
    .lb-time {
        font-size:86%;
        font-weight:600;
        color:lightyellow;
        margin:8%;
        z-index:2;
    }

    .lb-time {
        margin-top:-4%;
    }

    .lb-exhibition,
    .lb-competition {
        padding:0 8% 3em 8%;

        h2 {
            font-size:150%;
            color:crimson;
            margin-top:0;
        }
        p {
            margin-bottom:0;
        }
    }

    // Decorative pieces
    .lb-arc,
    .lb-water {
        position:relative;

        &:after {
            content:"";
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
        }
    }

    .lb-arc {
        // Overrides
        overflow:visible;
        height:auto;
        padding-top:0;
        margin-bottom:0;

        grid-column:left / right;
        grid-row:top-start;

        background:no-repeat 50% 50% url("https://picsum.photos/2400/600?image=739");
        background-size:cover;

        &:after {
            background:linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);
        }
    }

    .lb-water {
        grid-column:left / right;
        grid-row:top-center;

        &:after {
            background:linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 75%);
        }

        img {
            width:100% !important;
            height:100% !important;
            object-fit:cover;
        }
    }

    .lb-ribbon {
        position:relative;
        top:-4vw;
        margin-left:-2vw;
        margin-right:-2vw;

        grid-column:left / right;
        grid-row:top-center;
        align-self:start;
    }

    @include mq($desk-start) {
        .lb-container {
            grid-template-columns:[left-start] 1fr [left-end] 1fr [right-start] 1fr [right-end];
            grid-template-rows:[top] 1fr [center] 1fr [bottom];
        }

        .lb {
            h1 {
                font-size:8vw;
                line-height:1;
                transform:translateY(0.5em);

                grid-column:left-start / right-end;
                grid-row:top;
                align-self:end;
            }
        }
        .lb-sponsor {
            font-size:1.75vw;

            grid-column:left-end / right-start;
            grid-row:top;
        }

        .lb-content {
            grid-column:left-start / right-end;
            grid-row:center;
            align-items:start;

            display:grid;
            grid-template-columns:[left-start] 1fr [left-end] 1fr [right-start] 1fr [right-end];
        }
        .lb-time {
            grid-column-end:-1;
        }
        .lb-date,
        .lb-time {
            padding:8vw 8% 0 8%;
            margin:0 0 2em;
        }
        .lb-date,
        .lb-exhibition {
            text-align:right;
        }
        .lb-exhibition {
            grid-column:left-start / left-end;
            grid-row:center;
        }
        .lb-competition {
            grid-column:right-start / right-end;
            grid-row:center;
        }
        .lb-arc {
            grid-column:left-start / right-end;
            grid-row:top;
        }
        .lb-water {
            grid-column:left-end / right-start;
            grid-row:center;
        }
        .lb-ribbon {
            margin-left:4vw;
            margin-right:4vw;

            grid-column:left-start / right-end;
            grid-row:center;
        }

        // Nested supports to check for clip-path
        @supports(-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)) {
            .lb-water {
                position:relative;
                margin-left:-5%;
                margin-right:-5%;
                clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
            }
        }

        // Nested supports to check for shape-outside
        @supports(-webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%)) or (shape-outside: polygon(100% 0, 100% 100%, 0 100%)) {
            .lb-date,
            .lb-time {
                position:relative;
            }
            .lb-date {
                margin-right:-1%;
            }
            .lb-time {
                margin-left:-1%;
            }
            .lb-exhibition {
                &:before {
                    content:"";
                    display:block;
                    //background-color:pink;
                    width:7%;
                    height:12.5em; // Height in percentages doesn't work.
                    float:right;
                    shape-outside: polygon(100% 0, 100% 100%, 0 100%);
                }
            }
            .lb-competition {
                &:before {
                    content:"";
                    display:block;
                    //background-color:pink;
                    width:7%;
                    height:12.5em; // Height in percentages doesn't work.
                    float:left;
                    shape-outside: polygon(0 0, 0 100%, 100% 100%);
                }
            }
        }
    }
}

// Seasons
// Attempting to extend this one out to IE11, so am relying on modernizr rather than @supports.

.cssgrid,
.cssgridlegacy {
    .season-container {
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows:100vh 100vh 100vh 100vh;

        @include mq($lap-start) {
            grid-template-columns:1fr 1fr;
            grid-template-rows:50vh 50vh;
        }
    }
    .season-item {
        @include font-smoothing(on);
        overflow:hidden;
        color:white;
        background-repeat:no-repeat;
        background-position: 50% 50%;
        background-size:cover;
        text-transform:uppercase;

        display:grid;
        grid-template-columns:1fr;
        grid-template-rows:50% 50%;
        grid-template-areas: "top"
                             "bottom";
        justify-items:center;

        h2, p {
            margin:0;
            line-height:1;
            font-size:18.42vw;
            line-height:0.73;

            @include mq($lap-start) {
                font-size:6.14vw;
            }
        }

        h2 {
            align-self:end;
            font-weight:700;
        }
    }
    .season-spring {
        background-image:url("/ui/img/bg-seasons-spring.jpg");
        position:relative;

        .spring-flowers {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
        .spring-flower-mask {
            font-family:"Crimson Text", serif;
            font-size:160vh;

            @include mq($lap-start) {
                font-size:80vh;
            }
        }

        h2, p {
            position:relative;
            z-index:1;
        }
        h2 {
            font-size:22.2vw;
            color:rgba(white, 0.85);

            @include mq($lap-start) {
                font-size:7.4vw;
            }
        }
        p {
            padding-right:0.1em;
            color:rgba(white, 0.7);

            @supports (mix-blend-mode:soft-light) {
                color:black;
                mix-blend-mode:soft-light;
            }
        }
    }
    .season-summer {
        background-image:url("/ui/img/bg-seasons-summer.jpg");
        position:relative;

        h2, p {
            position:relative;
            z-index:1;
        }
        h2 {
            font-weight:800;
            font-size:19.8vw;

            @include mq($lap-start) {
                font-size:6.6vw;
            }
        }
        p {
            font-size:20.4vw;
            line-height:0.7;

            @include mq($lap-start) {
                font-size:6.8vw;
            }
        }

        &:before,
        &:after,
        .summer-square {
            width:50%;

            grid-column: 1 / 2;
            grid-row: 1 / 3;
            align-self: center;

            @include mq($lap-start) {
                width:38%;
            }
        }

        .summer-square {
            display:none;

            &:before {
                content:"";
                display:block;
                width:100%;
                height:0;
                padding-top:100%;
                overflow:hidden;
            }
        }

        &:before,
        &:after {
            content:"";
            display:block;
            height:0;
            padding-top:50%;
            
            overflow:hidden;

            @include mq($lap-start) {
                padding-top:38%;
            }
        }

        &:before {
            //background-color:rgba(#553921, 0.6);
            background:linear-gradient(to bottom right, rgba(mediumaquamarine, 0.6) 0%,rgba(teal, 0.6) 100%);
        }

        @supports (mix-blend-mode:normal) {

            .summer-square {
                display:block;
                background:linear-gradient(to bottom right, rgba(mediumaquamarine, 0.95) 0%, transparent 50%, rgba(teal, 0.95) 100%);
                z-index:1;
                //animation: spin 10s infinite;
            }

            h2, p {
                z-index:2;
            }
            h2 {
                grid-area:top;
            }
            p {
                grid-area:bottom;
            }

            &:before,
            &:after {
                background-color:#00aaff;
                //animation: spin 15s infinite;
            }

            &:after {
                mix-blend-mode:overlay;
                //animation: spin 12s infinite;
            }
            &:before {
                mix-blend-mode:hue;
                opacity:0.15;
                //animation: spin 15s infinite;
            }

            @keyframes spin {
              0%   { transform:translate(-50%, -50%) rotate(0deg) }
              100% { transform:translate(-50%, -50%) rotate(360deg) }
            }

        }
    }

    .season-autumn {
        background-image:url("/ui/img/bg-seasons-autumn4.jpg");
        position:relative;

        &:before {
            content:"";
            display:block;
            background-color:rgba(#ff7f00, 0.35);

            grid-column: 1 / 2;
            grid-row: 2 / 3;
            align-self:stretch;
            justify-self:stretch;
        }

        h2, p {
            z-index:1;
        }
        h2 {
            grid-column: 1;
            grid-row:1;
        }
        p {
            grid-column: 1;
            grid-row:2;
        }

        @supports (mix-blend-mode:normal) {
            
            &:before {
                background-color:rgba(#ff7f00, 0.55);
                mix-blend-mode:color;
            }
            &:after {
                content:"";
                display:block;
                background-color:rgba(black, 0.2);

                grid-column: 1 / 2;
                grid-row: 2 / 3;
                align-self:stretch;
                justify-self:stretch;
            }
        }

        @supports (backdrop-filter:none) or (-wekkit-backdrop-filter:none) {
            &:after {
                background-color:rgba(#ff7f00, 0.35);
                backdrop-filter:sepia(0.6);
            }
            &:before {
                background-color:transparent;
                //top:0;
            }
        }

        h2 {
            color:rgba(white, 0.95);
            font-size:18w;
            line-height:0.8;

            @include mq($lap-start) {
                font-size:6vw;
            }
        }
        p {
            color:rgba(white, 0.65);
            line-height:0.65;
            padding-right:0.15em;
        }

        @supports (mix-blend-mode:normal) {
            h2, p {
                color:white;
                color:rgba(white, 0.75);
            }
            p {
                mix-blend-mode:overlay;
            }
        }
    }

    .season-winter {
        background-image:url("/ui/img/bg-seasons-winter.jpg");

        display:grid;
        grid-auto-flow:column;
        grid-template-columns:1.5ex 70% 1.5ex;
        grid-template-rows:minmax(50vmin, auto);

        align-content:center;
        justify-content:center;
        align-items:center;
        
        // Default: portrait
        font-size:18.42vw;

        @include mq($lap-start) {
            font-size:6.14vw;
        }

        // Landscape
        @media screen and (min-aspect-ratio: 11/9) {
            font-size:20vh;
            grid-template-columns:1.5ex 46% 1.5ex;
        }

        @media screen and (min-aspect-ratio: 11/9) and (min-width: em($lap-start, 16)) {
            font-size:10vh;
        }

        img {
            grid-column:2 / 3;
            border-radius:50%;
        }
        h2, p {
            writing-mode:vertical-rl;
            font-weight:300;
            font-size:1em;
            color:#01768a;
            position:relative;

            @supports (background-clip: text) or (-webkit-background-clip: text) {
                line-height:1.01; // prevents clipping of text baseline
                background:linear-gradient(to left, #01768a 0%, #01768a 50%,lighten(#01768a, 20%) 100%);
                -webkit-background-clip:text;
                -webkit-text-fill-color:transparent;

                // Edge barfs on the combo of background-clip, text-fill-color, and writing-mode; text disappears
                .edge & {
                    -webkit-text-fill-color:#01768a;
                }
            }
        }
        h2 {
            grid-column: 1 / 2;
            align-self:center;
            transform:rotate(180deg) translateY(0.1em);
            margin-right:-0.75em;
            letter-spacing:0.18em;
            opacity:0.9;
        }
        p {
            grid-column: 3 / 4;
            letter-spacing:0.03em;
            margin-left:-0.75em;
            transform: translateY(0);
        }
    }
}

// IE 11
.cssgridlegacy {
    .season-container {
        display:-ms-grid;
        -ms-grid-columns:1fr;
        -ms-grid-rows:100vh 100vh 100vh 100vh;

        @include mq($lap-start) {
            -ms-grid-columns:1fr 1fr;
            -ms-grid-rows:50vh 50vh;
        }
    }
    .season-item {
        display:-ms-grid;
        -ms-grid-columns:1fr;
        -ms-grid-rows:50% 50%;

        h2, p {
            -ms-grid-column-align:center; 
        }

        h2 {
            -ms-grid-column:1;
            -ms-grid-row:1;
            -ms-grid-row-align:end;
        }
        p {
            -ms-grid-column:1;
            -ms-grid-row:2;
        }
    }
    .season-spring {
        -ms-grid-column:1;
        -ms-grid-row:1;
    }
    .season-summer {
        -ms-grid-column:1;
        -ms-grid-row:2;

        &:before,
        &:after {
            display:none;
        }
        .summer-square {
            display:block;
            background:linear-gradient(to bottom right, rgba(mediumaquamarine, 0.6) 0%,rgba(teal, 0.6) 100%);

            -ms-grid-column:1;
            -ms-grid-row:1;
            -ms-grid-row-span:2;
            -ms-grid-row-align:center;
            -ms-grid-column-align:center;
        }

        @include mq($lap-start) {
            -ms-grid-column:2;
            -ms-grid-row:1;
        }
    }
    .season-autumn {
        -ms-grid-column:1;
        -ms-grid-row:3;

        &:before,
        &:after {
            -ms-grid-column:1;
            -ms-grid-row:2;
        }

        @include mq($lap-start) {
            -ms-grid-column:1;
            -ms-grid-row:2;
        }
    }
    .season-winter {
        -ms-grid-column:1;
        -ms-grid-row:4;

        @include mq($lap-start) {
            -ms-grid-column:2;
            -ms-grid-row:2;
        }

        // Subgrid
        display:-ms-grid;
        -ms-grid-columns:1fr 100% 1fr;
        -ms-grid-rows:100vh;

        @include mq($lap-start) {
            -ms-grid-rows:minmax(50vmin, 50vh);
        }

        // Landscape
        @media screen and (min-aspect-ratio: 11/9) {
            -ms-grid-columns:1fr 70% 1fr;
        }

        // Subgrid items
        h2, img, p {
            -ms-grid-row-align:center;
        }
        h2 {
            -ms-grid-column:1;
            -ms-grid-row:1;
            -ms-grid-column-align:end;

            transform:rotate(180deg) translateY(0.1em) translateX(-0.35em);
        }
        img {
            -ms-grid-column:2;
            -ms-grid-row:1;
            -ms-grid-column-align:center;

            max-width:70%;
        }
        p {
            -ms-grid-column:3;
            -ms-grid-row:1;
            -ms-grid-column-align:start;
            transform:translateX(-0.35em);
        }

    }
}

// A11y toggletip styles 
// https://codepen.io/heydon/pen/Vzwdpy
.toggletip-container {
    position:relative;

    button {
        background-color:transparent;
        border:none;
        padding:0;
    }

    button,
    button:hover {
        color: $link-color;
        transition: color $transition-default;
    }
    .no-touchcapable & {
        button:hover  {
            color: $link-hover-color;
        }
    }
}
.toggletip-bubble {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 200%;
    width: 22em;
    max-width:90vw;
    padding: 1rem;
    background: palette(gray, dark);
    color: #fff;
    z-index:100;

    h2 {
        @include font-size(24);
    }

    a {
        color:palette(blue, light);
    }
}

// Canvas
.canvas1 {
    border:1px dotted black;
}


/* Print styles */
@include mq(print) {
    *,
    *:before,
    *:after {
        filter:none !important;
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    .no-print {
        display:none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid; // Prevent headings from being printed at the bottom of the page
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
}