// Colors
// -------------------------

// Main palette color declarations first
$_color-base-blue: #066dae;
$_color-base-orange: #E79300;
$_color-base-brown: #575745;
$_color-base-yellow: #FFE67F;
$_color-base-red: #ed0000;

$palettes: (
    blue: (
        base:      $_color-base-blue,
        x-light:   lighten($_color-base-blue, 60),
        light:     lighten($_color-base-blue, 10),
        dark:      darken($_color-base-blue, 10)
    ),
    red: (
        base:      $_color-base-red
    ),
    orange: (
        base:      $_color-base-orange,
        x-light:   lighten($_color-base-orange, 50),
        light:     lighten($_color-base-orange, 10),
        dark:      darken($_color-base-orange, 10)
    ),
    yellow: (
        base:      $_color-base-yellow
    ),
    brown: (
        base:      $_color-base-brown,
        x-light:   lighten($_color-base-brown, 60),
        light:     lighten($_color-base-brown, 10),
        dark:      darken($_color-base-brown, 10)
    ),
    gray: (
        base:      #666,
        x-light:   #fafafa,
        lighter:   #eee,
        light:     #ccc,
        mid-light: #999,
        mid-dark:  #333,
        dark:      #222,
        x-dark:    #111 
    ),
    white: (
        base:      #fff
    ),
    black: (
        base:      #000
    )
);

// Mixin to easily access the color palettes
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}


// Assigning color variables
// -------------------------
$main-color: palette(blue);
$body-bg: palette(white);
$text-color: palette(gray, x-dark);
$line-color: palette(gray, light);

$select-color: palette(blue, x-light); // highlight when selecting text in browser

$link-color: palette(blue);
$link-hover-color: palette(orange);

$utilitynav-bg: transparent;
$utilitynav-fg: $link-color;
$utilitynav-hover-fg: $link-hover-color;

$masthead-bg: palette(blue, x-light);
$masthead-fg: $text-color;

$footer-bg: palette(blue, x-light);
$footer-fg: $text-color;
$footer-hover-fg: $link-hover-color;

$form-bg: transparent;
$form-fg: $text-color;

$form-field-bg: #e9e9e9;
$form-field-fg: $form-fg;
$form-field-border: $form-field-bg;
$form-underline: $line-color;

$required-color: palette(red);
$error-color: palette(red);

// Border radius
$border-radius: 6px;

// Button default
$button-bg: palette(blue);
$button-fg: palette(white);
$button-border: none;

// Button hover
$button-hover-bg: palette(orange);
$button-hover-fg: palette(white);
$button-hover-border: none;

// Button disabled state
$button-disabled-bg: palette(gray, light);
$button-disabled-fg: palette(white);

// Promo box, default
$promo-bg: palette(gray, lighter);
$promo-fg: $text-color;
$promo-border: 1px solid darken($promo-bg, 10);


// Typographical variables
// -----------------------
$open-quote:    \201C;
$close-quote:   \201D;

// Vertical rhythm
$base-line-height: 24;
$base-font-size:   16;

$rhythm-unit:      $base-line-height/2; // 12

$guide-color-1:    #FFCADF; // for debugging and testing purposes
$guide-color-2:    #E2D1FB;

$page-gutter-pixels: 50;
$page-gutter: em($page-gutter-pixels);

$page-gutter-pixels-mobile: $base-line-height;
$page-gutter-mobile: em($page-gutter-pixels-mobile);

// Header font sizes
$headings: (
  h1: 32,
  h2: 24,
  h3: 20,
  h4: 16,
  h5: 16,
  h6: 12,
);

$blockquote-fontsize:$base-font-size*1.25;
$blockquote-cite-fontsize: $base-font-size;

$pullquote-fontsize:$base-font-size*1.5;
$pullquote-opacity: .5;
$pullquote-color: $text-color;
$pullquote-cite-fontsize: $base-font-size;

// Animations and transitions
// --------------------------
$transition-default: 0.1s linear;
$transition-animation: 0.4s ease;

// Breakpoints and mobile
// ----------------------
$hand-start-pixels: 320;
$lap-start-pixels: 640;
$desk-start-pixels: 900;
$desk-wide-start-pixels: 1200;
$max-content-width-pixels: 1600;

$hand-start:       em($hand-start-pixels, 16);
$lap-start:       em($lap-start-pixels, 16);
$desk-start:      em($desk-start-pixels, 16);
$desk-wide-start: em($desk-wide-start-pixels, 16);
$max-content-width: em($max-content-width-pixels, 16);

$lap-start-minusone: em($lap-start-pixels - 1, 16);