---
layout: default
title: "Canvas Experiments"
pageheader: "Canvas"
section: detail
active: none
extraclass: canvas
description: 
keywords: 
extrastyles:
extrascripts:
---


<main class="main-content canvas-container">      
    <h1>{{ page.pageheader }}</h1>
    <canvas id="canvas1" class="canvas1" width="400" height="300">
        Your browser does not support canvas.
    </canvas>
</main><!-- /.main-content -->

<div class="page-links">
    <p><a href="/" class="link-back">Back to index</a></p>
</div>