---
layout: default
title: "Living Bridges poster"
pageheader: "Living Bridges"
section: detail
active: none
extraclass: "lb"
description: 
keywords: 
extrastyles:
extrascripts:
---
<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Song+Myung');
</style>

<main class="main-content lb-container">      
    <div class="lb-arc"></div>
    <h1 id="lb-ghost-title">Living Bridges</h1>
    <p class="lb-sponsor"><span class="visuallyhidden">Presented by the </span><b>Royal Academy of Arts</b></p>
    
    <div class="lb-content">
        <p class="lb-date">26&nbsp;September &ndash; 18&nbsp;December&nbsp;1996</p>
        <p class="lb-time">open&nbsp;10am &ndash; 6pm&nbsp;daily</p>

        <div class="lb-exhibition">
            <h2>Exhibition</h2>
            <p>Journey through the Royal Academy along a river of time and discover how inhabited bridges, real and imagined, can change our cities.</p>
        </div>

        <div class="lb-competition">
            <h2>Competition</h2>
            <p>Thames Water Habitable Bridge Competition. Seven international architects exhibit their visions of a new bridge for London.</p>
        </div>
    </div>
    <div class="lb-water">
        <img src="/ui/img/lb-picsum-716-matthew-kosloski.jpg" alt="" />
    </div>
    <div class="lb-ribbon">
        <svg id="ribbon" data-name="ribbon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 700 130"><defs><style>.cls-1{fill:url(#linear-gradient);}</style><linearGradient id="linear-gradient" x1="-2.25" y1="65.19" x2="699.97" y2="65.19" gradientUnits="userSpaceOnUse"><stop offset="0" stop-opacity="0.5"/><stop offset="0.51" stop-color="#ffffce"/><stop offset="1" stop-opacity="0.5"/></linearGradient></defs><title>ribbon</title><path class="cls-1" d="M-.58,124.31c8.25-3.18,15.8-7.19,21.86-12.58a50.44,50.44,0,0,0,8-8.94,41.83,41.83,0,0,0,3-5,36.68,36.68,0,0,0,2.13-5.25c.59-1.82,1-3.76,1.5-5.92s.94-4.56,1.79-7.13A28.07,28.07,0,0,1,47,65.92a26.18,26.18,0,0,1,7.2-4.12,29.1,29.1,0,0,1,7.75-1.74,75,75,0,0,1,14.39.59,94.45,94.45,0,0,0,13.49.77,41,41,0,0,0,12.75-2.52,43.57,43.57,0,0,0,5.69-2.58,48.36,48.36,0,0,0,5.24-3.22c1.68-1.17,3.32-2.45,4.89-3.79A39.5,39.5,0,0,0,122.78,45a28.4,28.4,0,0,0,3.57-5.2,37.75,37.75,0,0,0,2.48-6.07c.7-2.13,1.27-4.34,2-6.61a29.27,29.27,0,0,1,3.05-6.77,20.36,20.36,0,0,1,5.32-5.61,21.93,21.93,0,0,1,6.91-3.41,25.5,25.5,0,0,1,7.67-1,34.11,34.11,0,0,1,7.43,1,73,73,0,0,1,13.32,5c4.19,1.95,8.22,4,12.24,5.93,8,3.81,16.18,7.1,24.4,7.43a32,32,0,0,0,12-1.71A32.2,32.2,0,0,0,233.69,22a45.07,45.07,0,0,0,4.42-4.38c1.45-1.6,2.86-3.35,4.62-5.18a24,24,0,0,1,3-2.69,15,15,0,0,1,4-2.13,14.66,14.66,0,0,1,4.57-.75,18,18,0,0,1,4.34.52,19.29,19.29,0,0,1,4,1.52,23.41,23.41,0,0,1,3.47,2.24,32.85,32.85,0,0,1,5.41,5.52A72.37,72.37,0,0,1,279.08,29c4.13,8.37,7.35,16.87,10.92,25.07,1.78,4.09,3.62,8.12,5.69,11.91A44.34,44.34,0,0,0,302.81,76a15.54,15.54,0,0,0,4.32,3.15,11,11,0,0,0,4.84,1A13.51,13.51,0,0,0,321.45,76a21.27,21.27,0,0,0,5.86-15.94,14.26,14.26,0,0,0-1.43-5.41c-1.69-3.46-4.71-6.5-8-9.36l-5.21-4.38a35,35,0,0,1-5.21-5.32,13.49,13.49,0,0,1-2-3.84,10.31,10.31,0,0,1-.47-2.35,10.9,10.9,0,0,1,0-1.22l.07-1a24.63,24.63,0,0,1,1.9-7.5A24.92,24.92,0,0,1,317,8.12a20.42,20.42,0,0,1,7.6-2.71,16.26,16.26,0,0,1,8.43,1,16.87,16.87,0,0,1,6.73,5.16l.61.8.51.71q.52.71,1,1.44c.67,1,1.32,1.93,1.95,2.91,5.12,7.8,8.84,16.21,14.65,21.68a33.54,33.54,0,0,0,10.12,6.51A28.24,28.24,0,0,0,380,48.21a37,37,0,0,0,6-.56c2.1-.34,4.36-.81,6.91-1.12a30.49,30.49,0,0,1,4-.22,23.26,23.26,0,0,1,4.19.44c2.55.5,4.75,1.12,7,1.71,4.39,1.19,8.65,2.38,12.77,3.14a34.19,34.19,0,0,0,5.79.66,9,9,0,0,0,2.12-.19,4.52,4.52,0,0,0,1.38-.62,11.9,11.9,0,0,0,3.07-3.27,49.11,49.11,0,0,0,3-5.22c2-3.84,3.93-8.13,6.7-12.44A37.22,37.22,0,0,1,448,24.19a25.09,25.09,0,0,1,7.36-5.09,23.47,23.47,0,0,1,4.39-1.46l1.12-.23.58-.13c.39-.1.8-.2,1.23-.34a50.59,50.59,0,0,0,5.56-2.17C472.15,13,476.2,11,480.41,9a118.54,118.54,0,0,1,13.33-5.46A52,52,0,0,1,509.2.7a34.19,34.19,0,0,1,8.61,1,30.54,30.54,0,0,1,8.32,3.4l.93.57.57.33c.37.23.78.42,1.16.64.8.39,1.61.79,2.47,1.13a45.91,45.91,0,0,0,5.47,1.76c3.88,1,8.14,1.71,12.75,2.57A80.27,80.27,0,0,1,564.18,16l1,.39,1.28.61a24.61,24.61,0,0,1,2.33,1.35,30.23,30.23,0,0,1,3.88,3,45.94,45.94,0,0,1,5.74,6.34,111.35,111.35,0,0,1,8,12.53c1.14,2,2.24,4,3.28,5.8.52.89,1,1.75,1.51,2.46.23.35.46.67.64.92a4.27,4.27,0,0,0,.44.46,22.6,22.6,0,0,0,3.4,2.8c1.43,1,3.06,1.94,4.72,2.91s3.46,1.84,5.27,2.69,3.71,1.62,5.6,2.43l-2.18-.58,1,.15,1.25.15c.84.1,1.71.17,2.58.24,1.74.15,3.49.26,5.25.32,3.51.1,7,.09,10.5-.15a72,72,0,0,0,19.89-3.87l1.2-.45q1-.44,2.09-.8a24.64,24.64,0,0,1,4.37-1,25.8,25.8,0,0,1,8.5.27,38.45,38.45,0,0,1,13.31,5.64,82.09,82.09,0,0,1,10,7.66c1.51,1.32,3,2.61,4.38,3.89s2.79,2.48,4,3.45l-5.94,9.85c-2.12-1.06-3.86-2.15-5.58-3.21s-3.32-2.12-4.93-3.11a92.64,92.64,0,0,0-9.35-5.26,24.93,24.93,0,0,0-8.4-2.48,9.47,9.47,0,0,0-3.09.28,7.19,7.19,0,0,0-1.25.48l-.59.33-1.45.75a78.3,78.3,0,0,1-25.1,7.5,103.84,103.84,0,0,1-12.76.9c-2.13,0-4.25,0-6.39-.11-1.07-.05-2.14-.13-3.23-.22l-1.65-.16-.85-.09-1-.13-.9-.12-1.28-.46A95.8,95.8,0,0,1,590,74a59.83,59.83,0,0,1-6.72-4.38,40.4,40.4,0,0,1-6.73-6.19c-.53-.61-1.2-1.54-1.66-2.2s-.85-1.31-1.22-1.92c-.73-1.21-1.32-2.32-1.9-3.41-1.14-2.17-2.14-4.19-3.15-6.15a103.3,103.3,0,0,0-6-10.69,30.51,30.51,0,0,0-3.08-3.94,12.44,12.44,0,0,0-1.37-1.28,7,7,0,0,0-.56-.42l-.24-.16-.58-.3a62.6,62.6,0,0,0-11.23-4c-4.21-1.18-8.82-2.28-13.6-3.91a61.52,61.52,0,0,1-7.24-3c-1.21-.58-2.41-1.24-3.59-1.92-.58-.37-1.18-.71-1.75-1.1L518,18.19a16.73,16.73,0,0,0-8.92-2.7,37.71,37.71,0,0,0-11.2,1.64,105,105,0,0,0-12,4.33c-4.07,1.7-8.17,3.58-12.62,5.36a62.28,62.28,0,0,1-7.2,2.44c-.66.17-1.35.33-2.07.47l-1.63.28a10.88,10.88,0,0,0-2.06.6,12.58,12.58,0,0,0-3.82,2.47A25.07,25.07,0,0,0,453,37.23c-2.26,3.23-4.22,7.13-6.52,11.25a59.59,59.59,0,0,1-4,6.37A22.6,22.6,0,0,1,435.94,61a15.61,15.61,0,0,1-4.89,1.88,20,20,0,0,1-4.63.32,44.6,44.6,0,0,1-7.66-1.07c-4.75-1-9.18-2.44-13.48-3.74-2.13-.64-4.28-1.29-6.16-1.72a16.51,16.51,0,0,0-2.53-.4,20.46,20.46,0,0,0-2.75,0c-3.88.25-8.86,1.35-14.06,1.06a38,38,0,0,1-14.71-3.92,41.86,41.86,0,0,1-12.29-8.54A55.68,55.68,0,0,1,344.32,33c-2.3-4-4.37-8-6.67-11.69-.57-.94-1.16-1.86-1.76-2.77q-.44-.69-.91-1.36l-.46-.68-.4-.56a9.82,9.82,0,0,0-3.83-3.13c-2.92-1.35-6.73-.84-10,1a18.59,18.59,0,0,0-9.19,14l-.07.71c0,.16,0,.31,0,.47a4.2,4.2,0,0,0,.17,1,7.5,7.5,0,0,0,1.09,2.15,26.47,26.47,0,0,0,4.21,4.41l5.15,4.4c3.48,3,7.14,6.39,9.6,11a21.13,21.13,0,0,1,1.52,3.66,21.52,21.52,0,0,1,.78,3.89A28.07,28.07,0,0,1,326.71,81,21.71,21.71,0,0,1,320.27,86a18.42,18.42,0,0,1-3.92,1.45,19.51,19.51,0,0,1-4.14.6,20.09,20.09,0,0,1-4.22-.25,18.43,18.43,0,0,1-4.15-1.28,23.46,23.46,0,0,1-6.68-4.67A37.75,37.75,0,0,1,292.35,76a69.23,69.23,0,0,1-3.75-6.15c-2.26-4.16-4.17-8.38-6-12.59-3.62-8.4-6.82-16.85-10.69-24.72a64.84,64.84,0,0,0-6.55-10.92c-2.49-3.2-5.44-5.76-8.56-6.5a10.19,10.19,0,0,0-2.37-.29,6.72,6.72,0,0,0-2.09.33,10.36,10.36,0,0,0-4,2.83c-1.39,1.42-2.84,3.19-4.42,4.94a48.87,48.87,0,0,1-5.28,5.1,39.94,39.94,0,0,1-13.1,7.14,39.56,39.56,0,0,1-14.76,1.9,52.75,52.75,0,0,1-14.22-3,111.33,111.33,0,0,1-12.87-5.54c-4.12-2-8.11-4.15-12.1-6.08a66.69,66.69,0,0,0-12-4.69,22.27,22.27,0,0,0-11.72-.24,24.1,24.1,0,0,0-5.35,2.28A18.28,18.28,0,0,0,138,23.41c-2.68,2.9-4.15,7.13-5.41,11.5s-2.61,9-5.06,13.37a32.48,32.48,0,0,1-16.48,14.29,36.21,36.21,0,0,1-7.1,1.9,80.05,80.05,0,0,1-14.14.58c-4.61-.08-9.16-.2-13.64,0a39.63,39.63,0,0,0-12.62,2.4,21.5,21.5,0,0,0-5,2.8,22.17,22.17,0,0,0-3.78,3.78,28.88,28.88,0,0,0-2.88,4.47A26.72,26.72,0,0,0,50,83.35c-.52,1.75-1,3.78-1.44,6a61.31,61.31,0,0,1-1.94,7.21,43.8,43.8,0,0,1-7.58,13.58A51.87,51.87,0,0,1,28,120.45,53.77,53.77,0,0,1,14.68,127,58.18,58.18,0,0,1,.58,129.69Z"/></svg>
    </div>
</main><!-- /.main-content -->

<!-- Hat-tip to Heydon Pickering! https://codepen.io/heydon/pen/Vzwdpy -->
<div class="page-links">
    <p><a href="/" class="link-back">Back to index</a></p>
    <div data-toggletip>
        <h2>Source and Inspiration</h2>
        <p><a href="/ui/img/living-bridges-poster.jpg" target="_blank" rel="noopener">Original poster</a></p>
        <h2>Photo Credits</h2>
        <p>All photos are from <a href="https://picsum.photos" target="_blank" rel="noopener">Lorem Picsum</a></p>
        <ul>
            <li>Ferris wheel: Siyan Ren</li>
            <li>Water: Matthew Kosloski</li>
        </ul>
    </div>
</div>