---
layout: default
title: "On Edge book cover"
pageheader: "On Edge"
section: detail
active: none
extraclass: on-edge
description: 
keywords: 
extrastyles:
extrascripts:
---
<style>
@import url('https://fonts.googleapis.com/css?family=Expletus+Sans:700|Source+Sans+Pro:400,600,700');
</style>

<main class="main-content on-edge-container">      
    <h1>{{ page.pageheader }}</h1>
    <h2>
        <span>Breaking the Boundaries</span>
        <span>of Graphic Design</span>
    </h2>
    <div class="on-edge-author">
        <p><span class="visuallyhidden">Written by </span>Karen D. Fishler</p>
    </div>
    <div class="on-edge-publisher">
        <p><span class="visuallyhidden">Published by </span>Rockport</p>
    </div>
    <div class="on-edge-images">
        <img src="/ui/img/onedge-picsum-159-shyamanta-baruah.jpg" alt="" />
        <img src="/ui/img/onedge-picsum-137-vladimir-kramer.jpg" alt="" />
        <img src="/ui/img/onedge-picsum-859-brennan-ehrhardt.jpg" alt="" />
        <img src="/ui/img/onedge-picsum-687-davide-ragusa.jpg" alt="" />
        <img src="/ui/img/onedge-picsum-345-mario-calvo.jpg" alt="" />
        <img src="/ui/img/onedge-picsum-855-rodion-kutsaev.jpg" alt="" />
    </div>
</main><!-- /.main-content -->

<!-- Hat-tip to Heydon Pickering! https://codepen.io/heydon/pen/Vzwdpy -->
<div class="page-links">
    <p><a href="/" class="link-back">Back to index</a></p>
    <div data-toggletip>
        <h2>Source and Inspiration</h2>
        <p><a href="/ui/img/on-edge-cover.jpg" target="_blank" rel="noopener">Original book cover</a></p>
        <h2>Photo Credits</h2>
        <p>All photos are from <a href="https://picsum.photos" target="_blank" rel="noopener">Lorem Picsum</a></p>
        <ul>
            <li>Red wall: Brennan Ehrhardt</li>
            <li>Yellow wall: Rodion Kutsaev</li>
            <li>Viewfinder: Davide Ragusa</li>
            <li>Blurred wall: Mario Calvo</li>
            <li>Leaf: Shyamanta Baruah</li>
            <li>Tunnel: Vladimir Kramer</li>
        </ul>
    </div>
</div>