---
layout: default
title: "Seasons"
pageheader: "Seasons"
section: detail
active: none
extraclass: "season"
description: 
keywords: 
extrastyles:
extrascripts:
---
<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 400,600,700,800,900|Crimson+Text');
</style>

<main class="main-content season-container">      
    
    <h1 class="visuallyhidden">{{ page.pageheader }}</h1>

    <div class="season-item season-spring">
        <svg aria-hidden="true" class="spring-flowers">
            <clippath id="cp-text">
                <text class="spring-flower-mask" x="50%" y="100%" text-anchor="middle">S</text>
            </clippath>
            <image xlink:href="/ui/img/bg-seasons-flowers.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" clip-path="url(#cp-text)"></image>
        </svg>
        <h2>Spring</h2>
        <p>Equinox</p>
    </div>

    <div class="season-item season-summer">
        <span class="summer-square"></span>
        <h2>Summer</h2>
        <p>Solstice</p>
    </div>

    <div class="season-item season-autumn">
        <h2>Autumn</h2>
        <p>Equinox</p>
    </div>

    <div class="season-item season-winter">
        <img src="/ui/img/illo-seasons-winter.jpg" alt="" />
        <h2>Winter</h2>
        <p>Solstice</p>
    </div>

</main><!-- /.main-content -->

<!-- Hat-tip to Heydon Pickering! https://codepen.io/heydon/pen/Vzwdpy -->
<div class="page-links">
    <p><a href="/" class="link-back">Back to index</a></p>
    <div data-toggletip>
        <h2>Photo Credits</h2>
        <p>Flower photo by <a href="http://www.metaphoricalplatypus.com" target="_blank" rel="noopener">Jennifer C</a> (2007)</p>
        <p>Colorful Fall Leaves photo by <a href="https://www.flickr.com/photos/cmphotography2010/5099208181/" target="_blank" rel="noopener">Christina VanMeter</a> (2010)</p>
    </div>
</div>