<!--[if i]><![endif]-->
<!doctype html>
<!--[if lte IE 8]>     <html class="no-js lt-ie10 lt-ie9 " lang="en"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 modern" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js modern" lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <title>{{ page.title }} - {{ site.name }}</title>
    
    <meta name="keywords" content="{{ page.keywords }}" />
    <meta name="description" content="{{ page.description }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!--[if IEMobile]>
    <meta http-equiv="cleartype" content="on" />
    <![endif]-->

    <!-- Styles -->
    <link rel="stylesheet" href="/ui/css/styles.css" />
    {{ page.extrastyles }}
    <!-- JavaScript -->
    <script src="/ui/js/standalone/modernizr.min.js"></script>

    <!-- Detect IE10 and insert a CSS class in the HTML element -->
    <!--[if !IE]><!--><script>
    if (/*@cc_on!@*/false) {
        document.documentElement.className+=' ie10';
    }
    </script><!--<![endif]-->

    <!-- Detect IE11 or Edge and insert a CSS class in the HTML element -->
    <!--[if !IE]><!--><script>
    if (!!window.MSInputMethodContext) {
        if (!!document.documentMode) {
            // It's IE 11
            document.documentElement.className+=' ie11';
        } else {
            // It's Edge
            document.documentElement.className+=' edge';
        }
    }
    </script><!--<![endif]-->

    <!-- Responsive fix for certain Windows phones -->
    <script>
    (function() {
        if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile/)) {
            var msViewportStyle = document.createElement("style");
            msViewportStyle.appendChild(
                document.createTextNode("@-ms-viewport{width:auto!important}")
            );
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    })();
    </script>
</head>