    <script src="//ajax.googleapis.com/ajax/libs/jquery/{{site.jqueryVersion}}/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/ui/js/jquery/jquery-{{site.jqueryVersion}}.min.js"><\/script>')</script>
    <script src="/ui/js/jquery/jquery.migrate.min.js"></script>
    <script src="/ui/js/scripts-concat.min.js"></script>

    {{ page.extrascripts }}